<div class="field">
  <%- form.label('title') %>
  <br />
  <%- form.input('title') %>
</div>
<div class="field">
  <%- form.label('slug') %>
  <br/>
  <%- form.input('slug') %>
</div>
<div class="field">
  <%- form.label('preview') %>
  <br />
  <%- form.textarea('preview', {cols: 80, rows: 6, class: 'wmd-ignore'}) %>
</div>
<div class="field">
  <%- form.label('content') %>
  <br />
  <%- form.textarea('content', {cols: 80, rows: 27, style: 'margin-left: -40%;'}) %>
  <div class="wmd-preview" style='width: 650px; margin-right: -270px; float: right; height: 520px; overflow: auto;'></div>
</div>
<div class="field">
  <%- form.checkbox('published') %>
  <%- form.label('published') %>
</div>
<div class="submit">
  <%- form.submit('Save') %>
</div>
