<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name='description' content='<%= meta_description.replace(/'/g, '\\\'') %>'>
    <meta name='keywords' content="<%= meta_keywords %>">
    <%- stylesheet_link_tag('style') %>
    <%- javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'rails', 'highlight/highlight.pack', 'application') %>

    <script>
      hljs.tabReplace = '    ';
      hljs.initHighlightingOnLoad();
    </script>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20355413-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <link rel='stylesheet' href='/javascripts/highlight/styles/github.css' />
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="logo">
          <% if (locale == 'ru' ) { %>
            <h1><a href='/' title='Node. js — событийно-ориентированный фреймворк на движке V8 JavaScript'> Узел JS*</a></h1>
            <h2>* JavaScript — объектно-ориентированный скриптовый язык программирования</h2>
          <% } else { %>
            <h1><a href='/' title='Node.js is an evented I/O framework for the V8 JavaScript engine'>Node JS*</a></h1>
            <h2>* JavaScript &#151; prototype-based object-oriented scripting language</h2>
          <% } %>
        </div>
        <!--div class="donate">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="FQF6ZG4RK83KL">
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div-->
      </div>
      <div class="content"><%- body %></div>
      <div class="push"></div>
    </div>
    <div class="footer">
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="width: 80px; height: 15px; border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a>
      All contents of this <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">site</span> are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
    </div></body>
</html>
