:javascript
  | var BOARD = {
  |   player:   '#{player.color}',
  |   color:    '#{player.game.color || 'b'}',
  |   state:    '#{player.game.state(player)}',
  |   position: #{player.game.boardToJSON()},
  |   secret:   '#{secret}'
  | };

script( src: 'reversi.js?' + (new Date).getTime())
script( src: 'reversi-cli.js?' + (new Date).getTime())

#starter.user_bar( style: starter ? '' : 'display:none' )
  .avatar
    img( src: 'https://graph.facebook.com/' + starter.id + '/picture')
  small.username
    #{starter.name}
  .color.black black

#board
  .head
    .info
    #counter
      .black
      .delim :
      .white
  canvas( width: '300', height: '300' )

#opponent_info.user_bar( style: opponent ? '' : 'display:none' )
  .avatar
    img( src: 'https://graph.facebook.com/' + (opponent ? opponent.id : 1) + '/picture')
  small.username
    #{opponent ? opponent.name : ''}
  .color.white white

a( href: "/leave_game" ) Leave game

ul.leaderboard
  - each player in leaderboard
    li.player( data-id: player.id )
      .rank= player.position
      .avatar
        img( src: 'https://graph.facebook.com/' + player.id + '/picture' )
      .name=  player.name.split(' ')[0]
      .score= player.score
      button Play

form( action: '/leave_game' )

.cheets( style: 'clear: both' )
  button#autoplay_random Autoplay
  button#autoplay_up Autoplay up
  button#autoplay_down Autoplay down
  // button#automove_random Automove
  // button#automove_up Automove up
  // button#automove_down Automove down
