.record
  .side!= post.created_at.format('d mmm<br/>yyyy')
  .content
    h3.title= post.title
    .preview!= post.preview
    .post!= post.content
  .discussion
    #disqus_thread
    :javascript
      | var disqus_shortname = 'nodejs', disqus_identifier = #{post.id};
      | (function() {
      |       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      |       dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      |       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      | })();
